
<section id="mainPageSection">

<h3  class="mainPageHeader">{{vm.title}}</h3>
<hr>

<a class="navText" href="/login">Login</a>
<br>
<a class="navText" href="/register">Register</a>
<br>
<a class="navText" href="/profile">Profile</a>
<br>
<a class="navText" href="/polls" ng-click="vm.warning()">Polls</a>



<div id="containingDiv">
<img id="leftHand" class="animated fadeInUpBig" src="../images/thumb-up-297078_960_720.png" style="width: 30%; height: 20%;"/>
    
    <img id="rightHand" class="animated fadeInDownBig" src="../images/thumb-down-297078_960_720.png" style="padding-top: 23%; width: 30%; height: 20%;"/>
    </div>
</section>
